

nav{
	box-shadow: none;
}
.logo img{
margin-top: -20px;
}
.slide-logo{
	margin-bottom: 50px;
}
.first_divider{
	margin-bottom: 20px;
}
.second_divider{
	margin-top: 40px;
}
/*section*/
section{
	height:45em;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/iStock-1331299570.jpg)no-repeat center;
	background-size: cover;
	position: relative;
	margin-bottom: 4em;
	padding-top: 70px;
}
section .section_container h1{
	font-size: 90px;
}
section .section_container  p{
	font-size: 30px;
}
.parent {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	align-items: center;
	padding: 10px;
	margin: 5px 0;
	white-space: nowrap;
   }
   .content-wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	scroll-behavior: smooth;
   }
   
   .content-wrapper div {
	margin: 0 10px;
	padding: 3px;
	color: white;
	cursor: pointer;
   }
   .content-wrapper div:hover{
	border-top: teal 2px solid;
   }
   
   /*categories*/
   .parents {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	align-items: center;
	padding: 10px;
	margin: 5px 0;
	height: 250px;
   }
   
   
   .content-wrappers{
	display: flex;
	align-items: center;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	scroll-behavior: smooth;
   }

   .content-wrappers div {
	margin: 10px;
	padding: 3px;
	color: white;

   }
   .content-wrappers div img{
	   height: 150px;
	   width: 140px;
   }

   /*image slider*/
   .magic-wrapper {
	overflow-y: hidden;
	width: 100%;
	height: 250px;
   }
   
   .magic {
	padding-bottom: 10px;
   }
   footer ul{
    display: flex;
    
}
.explore{
	padding-bottom: 20px;
}
footer{
	margin-top: 20px;
}
footer ul li{
    margin-right: 20px;
}
footer input[type=text] {
    padding: 6px;
    border: solid 2px grey;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  /*signup*/
  .explore_signup{
	  padding-top: 20px;
	  padding-bottom: 20px;
	  border-radius: 10px;
  }
  .name input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid white;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
	border-radius: 8px;
  }
  .name input[type=text]:focus {
	border: 1px solid teal;
  }
  .name input[type=email]:focus {
	border: 1px solid teal;
}
.name input[type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid white;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
	border-radius: 8px;
  }
  .name input[type=email]:focus {
	border: 1px solid teal;
}
.name input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid white;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
	border-radius: 8px;
  }
  .name input[type=password]:focus {
	border: 1px solid teal;
}

/*Categories*/
.preview ul{
	display: flex;
}
.preview {
	display: flex;
	justify-content: space-between;
}
.abt h6{
text-decoration: underline;
}

@media only screen and (max-width: 600px) {
	.closebtn{
		margin-right:20px;

	}
	section{
		height:45em;
		background: url(img/Rectangle\ 2.png)no-repeat;
		position: relative;
		margin-bottom: 4em;
		padding-top: 10px;
	}
	.parent{
		margin-top: -400px;
	}
	
	.content-wrapper div:hover{
		border-top: teal 2px solid;
	   }
	   .explore{
		   padding-bottom: 20px;
	   }
	   .explore h4{
		   font-size: 20px;
	   }
	   .explore h6{
		   font-size: 16px;
	   }
	   
	   section .section_container h1{
		   font-size: 35px;
	   }
	   section .section_container  p{
		   font-size: 15px;
	   }
	   .bottom_carousel{
		   margin-top: 20px;
		   height: 20em;
	   }
	   footer{
		   margin-top: 20px;
	   }
	   /*Signup*/
	   .signin_input{
		   margin-bottom: 40px;
	   }
	   .explore_signup{
		   border-radius: 10px;
		   padding-top: 30px;
		   padding-bottom: 20px;
	   }
	   .explore_signin{
		   margin-top: 20px;
	   }
	   .explore_other h1{
		font-size: 30px;
	   }
	   .name h5{
		   font-size: 15px;
		   color: white;
	   }
	  .name input[type=text] {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
		border: 1px solid white;
		-webkit-transition: 0.5s;
		transition: 0.5s;
		outline: none;
		border-radius: 8px;
	  }
	  .name input[type=text]:focus {
		border: 1px solid teal;
	  }
	  .name input[type=email] {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
		border: 1px solid white;
		-webkit-transition: 0.5s;
		transition: 0.5s;
		outline: none;
		border-radius: 8px;
	  }
	  .name input[type=email]:focus {
		border: 1px solid teal;
	}
	.name input[type=password] {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
		border: 1px solid white;
		-webkit-transition: 0.5s;
		transition: 0.5s;
		outline: none;
		border-radius: 8px;
	  }
	  .name input[type=password]:focus {
		border: 1px solid teal;
	}

	/*trend section*/
	.trend_section{
		margin-top: -400px;
	}
	.trend_section .card img {
		
	}
	/*categories*/
	.cat_nav{
	box-shadow: gainsboro;
}
.preview ul{
	display: flex;
}
}